* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: var(--light-color);
    box-sizing: border-box;
}
:root {
    --light-color: rgb(224, 224, 224);

    --subtitle-font-size: 20px;
}
.subtitle {
    font-size: var(--subtitle-font-size);
    font-weight: 600;
}
.btn {
    display: flex;
    border-radius: 2px;
    justify-content: center;
    width: 100%;
    padding: 5px 10px;
    margin: 2px 1px;
    background-color: #272727;
    color: var(--light-color);
    transition: all 0.2s;
    box-shadow: 2px 5px 10px #202020;
}
.btn:hover {
    background-color: #202020;
}


.container {
    width: 380px;
    background-color: #323232;
}

.b-tabs {
    position: absolute;
    z-index: 10;
    left: 5px;
    top: 75px;
}
.tabs__item {
    margin: 0px 2px;
}
.tabs__item_active {
    background-color: rgba(185, 184, 184, 0.486);
    border-radius: 2px;
    padding: 2px 5px;
    font-weight: 700;
}
.tabs__item:hover {
    color: white;
}

.b-main-settings {
    display: flex;
}
.main-settings-module {
    padding: 2px 5px;
}
.b-block-tags {
    flex: 50%;
}
.block-tags-cells {
    display: flex;
    padding: 2px;
}
.block-tags__cell {
    display: block;
    margin: 2px;
    padding: 2px;
    /* color: white;
    background: linear-gradient(#2d0ce669, #75209757); */
}
.block-tags__cell::after {
    content: ',';
}

.b-mods {
    flex: 50%;
}
.mods-items {
    padding: 2px;
    flex-direction: column;
}
.mods__item {
    display: block;
    padding: 2px 5px;
    border: 1px rgba(0, 0, 0, 0.424) solid;
    margin-bottom: 5px;
}
.mods__item_active {
    border-width: 2px;
    border-color: rgb(123, 180, 38);
}

.b-preview-items {
    background-color: #292929;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    scrollbar-color: black;
}
.preview__item {
    flex: 1 1 80px;
    border: 1px black solid;
    background-color: #292929;
    cursor: pointer;
    margin: 2px;
    min-height: 80px;
    max-width: 23%;
    text-align: right;
}
.preview-item__checkbox {
    margin: 5px;
}